@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css');

@import './variables.css';

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color-default);
  font-family: 'Nunito', sans-serif;
}