:root {
  --primary-color: rgba(238, 99, 82, 1);
  --secondary-color: rgba(8, 178, 227, 1);
  --secondary-color-grey: rgba(239, 233, 244, 1);
  --secondary-color-green: rgba(87, 167, 115, 1);
  --secondary-color-blue-black: rgba(72, 77, 109, 1);
  --text-color-default: rgba(72, 77, 109, 1);
}