{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "~": "./"
      }
    }]
  ],

  "presets": [
    ["preact-cli/babel", {
      "modules": "commonjs"
    }]
  ]
}